@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Remover setinhas dos campos do tipo number */
.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield; /* Firefox */
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  padding-left: 2.5rem; /* Ajuste o padding-left para o espaço necessário para o símbolo "R$" */
}

.input-container .currency-symbol {
  position: absolute;
  left: 0.5rem; /* Ajuste o valor conforme necessário */
  font-size: 1rem; /* Tamanho do símbolo "R$" */
  color: #666; /* Cor do símbolo "R$" */
}
